<%- include('partials/header') %>

<div class="mainform">
  <form action="/success" method="POST" autocomplete="off">

    <div class="form-group">
      <label for="exampleInputEmail1">Time Slot for Trial Class</label>
      <select id="crss" class="form-control" name="slotTime" contenteditable="false" placeholder = "Select your preferred slot" required>
        <% slots.forEach((slot)=>{ %>
        <option ><%=slot%></option>
        <% }); %>
      </select>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



<%- include('partials/footer') %>
