<%- include('partials/header') %>

<div class="succ">
 <div class="succtext">
   <h3>
     Sorry, but we don't have a trial slot for the selected course in the upcoming months.
     <br>
     <br>
     But surely we'll be having slots later.
     <br>
     <br>
     Kindly come back later...
   </h3>
   <br>
   <button type="button" class="btn btn-outline-secondary"><a href="/" style = "color:black;">Back to Home</a></button>
 </div>
</div>


<%- include('partials/footer') %>
