
<%- include('partials/header') %>

<div class="succ">

 <div class="succtext">
   <h3>
     Thanks for your interest in NotchUp.
     <br>
     <br>
     We have scheduled a slot for you.
     <br>
     <br>
     Check your email for slot details...
   </h3>
   <button type="button" class="btn btn-outline-secondary"><a href="/" style = "color:black;">Back to Home</a></button>
 </div>
</div>

<%- include('partials/footer') %>
